@model SelaPetShop.Models.Dtos.AnimalDto

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/animals.css" />
</head>
<h3>Our Most Reviewed Animals!</h3>

<body>
    <section class="container">
        <div class="card">
            <img class="cardd-image" src="@Html.DisplayFor(model => model.Image.Url)" />
            <h2>@Html.DisplayFor(model => model.Name)</h2>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        @*        <div class="card">
        <img class="cardd-image" src="@Html.DisplayFor(model => model.Image.Url)" />
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <p>@Html.DisplayFor(model => model.Description)</p>
        </div>*@
        <div class="card">
            <img class="cardd-image" src="~/lib/Animals/shitzu.jpg" />
            <h2>Tofy</h2>
            <p>Old Shitzu Dog</p>
        </div>
    </section>
</body>