@model SelaPetShop.Models.Dtos.AnimalDto
@using static SelaPetShop.Models.Entities.Animal

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="~/css/animals.css" />*@
    <title>@ViewData["Title"]</title>
</head>

<body>
    <style>
        h1 {
            text-shadow: 1px 1px 2px red;
            color: palegoldenrod;
        }

        .animal-edit-container {
            background: white;
            border: 2px solid black;
            width: 600px;
        }

        .field {
            width: 200px;
            margin: 5px;
        }

        .field-name {
            font-weight: bold;
        }

        .field-editor {
            width: 350px;
        }

        .animal-icon {
            width: 120px;
            height: 120px;
            display: inline-block;
            margin-right: auto;
            border-radius: 50%;
            object-fit: contain;
            aspect-ratio: 3/2;
            background-color: #bbb;
        }

        .saveBtn {
            margin-top: 15px;
            margin-left: 4px;
            margin-bottom: 15px;
            width: 100px;
        }
    </style>

    <h1>Editing: @Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <img class="animal-icon" src="@Html.DisplayFor(model => model.Image.Url)" />
    <div class="animal-edit-container">
        <a asp-action="Index">Back To Catalogue</a>
        <form asp-action="Edit" asp-controller="Admin" method="post">
            <div class="field">
                <label class="field-name" asp-for="Name">@Html.DisplayNameFor(m => m.Name)</label>
                <input class="field-editor" asp-for="Name" />
            </div>
            <div class="field">
                <label class="field-name" asp-for="Description">@Html.DisplayNameFor(m => m.Description)</label>
                <input class="field-editor" asp-for="Description" />
            </div>
            <div class="field">
                <label class="field-name" asp-for="Birthdate">@Html.DisplayNameFor(m => m.Birthdate)</label>
                <input class="field-editor" asp-for="Birthdate" />
            </div>
            <div>
                <label class="field-name" asp-for="Category">@Html.DisplayNameFor(m => m.Category)</label>
                <input asp-for="Category" id="category" name="category" type="hidden" />
                <select id="selectCategory">
                    <option value="@Html.DisplayFor(m => m.Category.Name)">@Html.DisplayFor(m => m.Category.Name)</option>
                    @foreach (CategoryEnum opt in ViewBag.CategoryOptions)
                    {
                        <option value="@opt">@opt.ToString()</option>
                    }
                </select>
            </div>
            <div class="field">
                <label class="field-name" asp-for="Image">Current Image @Html.DisplayNameFor(m => m.Image.Url)</label>
                <input class="field-editor" asp-for="Image.Url" />
            </div>
@*            <div class="field">
                @using (Html.BeginForm("UploadFiles", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <label class="field-name">Upload Image:</label>
                    <br />
                    <input type="file" name="file" />
                    @ViewBag.Message
                }
            </div>*@
            <input class="saveBtn" type="submit" value="Save" />
        </form>
    </div>
</body>
</html>