@using AdventureWorks.Data.Models.Person
@model AdventureWorks.Client.Models.PersonDetailViewModel

@{
    ViewData["Title"] = ViewBag.Title;
}

<link rel="stylesheet" href="~/css/people.css" />
<h1>ViewBag.Title</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.PersonType)</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <div class="person-addreses">
            @foreach (var address in Model.Addresses)
            {
                <div class="address-container">
                    <h6 class="collection-title address-type">@address.Item1</h6>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => address.Item2.Line1)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => address.Item2.Line1)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => address.Item2.Line2)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => address.Item2.Line2)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => address.Item2.City)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => address.Item2.City)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => address.Item2.PostalCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => address.Item2.PostalCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => address.Item2.StateProvince)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => address.Item2.StateProvince)
                    </dd>
                </div>
            }
        </div>

        <div class="person-phone-numbers">
            <h6>@Html.DisplayNameFor(model => model.PhoneNumbers)</h6>
            @foreach (var phone in Model.PhoneNumbers)
            {
                <dt class="col-sm-4">
                    @Html.DisplayFor(model => phone.Item1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => phone.Item2)
                </dd>
            }
        </div>

        <div class="person-email-addresses">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmailAddresses)
            </dt>
            @foreach (var email in Model.EmailAddresses)
            {
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => email)
                </dd>
            }
        </div>

        <div class="person-email-promotion">
            @foreach (var item in Enum.GetValues<EnumEmailPromotion>())
            {
                <label>
                    <input type="radio"
                       asp-for="EmailPromotion"
                       value="@Convert.ToInt32(item)"
                       checked="@(Model.EmailPromotion == item)" />
                    @item
                </label>
            }
        </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
