@model SelaPetShop.Models.Dtos.AnimalDto

<div class="view-container edit-animal">
    <a asp-action="Index">Back To List</a>
    <form asp-action="Edit" asp-controller="Animal" method="post">
        <div class="field">
            <label class="field-name" asp-for="Name">@Html.DisplayNameFor(m => m.Name)</label>
            <input class="field-editor" asp-for="Name" />
        </div>
        <div class="field">
            <label class="field-name" asp-for="Description">@Html.DisplayNameFor(m => m.Description)</label>
            <input class="field-editor" asp-for="Description" />
        </div>
        <div class="field">
            <label class="field-name" asp-for="Birthdate">@Html.DisplayNameFor(m => m.Birthdate)</label>
            <input class="field-editor" asp-for="Birthdate" />
        </div>
        <div class="field">
            <label class="field-name" asp-for="Category">@Html.DisplayNameFor(m => m.Category)</label>
            <input class="field-editor" type="hidden" asp-for="Category" />
        </div>
        <div>
            <form method="post" enctype="multipart/form-data" asp-controller="Animal" asp-action="Edit">
                <div class="container">
                    <div class="col-sm-12">
                        <div class="col-md-6">
                            <input type="file" name="postedFiles" class="form-control" multiple />
                        </div>
                        <div class="col-md-2 mt-2">
                        </div>
                        <div class="col-md-6 mt-4 text-center">
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </div>
                    @if (ViewBag.Message != null)
                    {
                        <div class="col-sm-9">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image Name</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (@ViewBag.Message as string).Split(','))
                                    {
                                        if (!string.IsNullOrEmpty(item))
                                        {
                                            <tr>
                                                <td>@item</td>
                                                <td><img src="~/Uploads/@item" title="@item" width="50" height="50" /></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </form>
        </div>


        <input type="submit" value="Save" />
    </form>
</div>