@model IEnumerable<SelaPetShop.Models.Dtos.AnimalDto>

@{
    ViewData["Title"] = "Animal Catalogue Page";
}

<head>
    <link rel="stylesheet" href="~/css/animals.css" />
</head>
<div class="table">
    <h1>@ViewBag.Title</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrls)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <img />
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem=> item.ImageUrls)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>